.custom-badge {
    position: absolute !important;
    right: -5px;
    top: -10px;
    height: 20px;
    vertical-align: middle;
    display: table;
    min-width: 22px;
}

.header {
    position: relative;
    display: flex;
}

.title {
    display: inline-block;
    flex: 1;
}

.buttons {
    align-items: center;
    display: inline-flex;
    margin-left: 10px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}
